.button{
    -fx-padding: 5;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 12pt;
    -fx-text-fill: #ffcc3d;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
